<h1>{{nombre}}</h1>

<!-- dl => description list -->
<dl>
    <td>Nombre: </td>
    <dd>{{nombre}}</dd>

    <td>Edad: </td>
    <dd>{{edad}}</dd>

    <td>Función: </td>
    <dd>{{obtenerNombre()}}</dd>

    <td>Capitalizado: </td>
    <dd>{{nombreCapitalizado}}</dd>
    <dd>{{nombre.toUpperCase()}}</dd>

</dl>

<button *ngIf="nombre !== 'Spiderman'" (click)="cambiarNombre()">
    Cambiar Héroe
</button>

<button *ngIf="edad !== 30" (click)="cambiarEdad()">
    Cambiar Edad
</button>

<button (click)="resetForm()">
    Reset Form
</button>
